body {
    font-family: 'Arial', sans-serif;
    background-color: #262626; /* Ubah warna latar belakang */
    color: #fff; /* Warna teks umum */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center; /* Pusatkan teks di dalam body */
}
.game-container {
    background-color: #555; /* Warna latar belakang game-container */
    border-radius: 12px; /* Sesuaikan border-radius */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    margin: 20px auto; /* Pusatkan game-container dan beri margin atas/bawah */
    padding: 30px; /* Tambahkan padding yang lebih besar */
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s; /* Tambahkan efek transisi untuk transform dan box-shadow */
    width: 80%; /* Sesuaikan lebar sesuai keinginan Anda */
    max-width: 600px; /* Maximum width for responsiveness */
    box-sizing: border-box;
}

.game-container img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 20px; /* Sesuaikan margin */
}

p {
    color: #bbb; /* Warna teks paragraf */
    margin-bottom: 10px;
}

/* Aksen warna biru untuk teks di dalam game-container */
.game-container h1 {
    color: #00bcd4;
}

h1 {
    color: #00bcd4;
}

img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

p {
    color: #bbb; /* Warna teks paragraf */
    margin-bottom: 10px;
}

button {
    background-color: #00bcd4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #008ba3;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

#purchaseForm {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
    text-align: left;
}

#purchaseForm label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

#purchaseForm input,
#purchaseForm select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

#purchaseForm button {
    background-color: #008ba3;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#confirmationPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
    text-align: center;
}

#confirmationPopup p {
    color: #333;
    margin-bottom: 16px;
}